<!DOCTYPE html >
<html lang="pt-br" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Cemitério</title>
    
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="lib/jquery-2.1.4.min.js"></script>
    <script src="lib/materialize.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/app.js"></script>
    <script src="controllers/conTumuloController.js"></script>
</head>
<body>
    <header ng-include="'menu.html'"></header>
    <main ng-controller="conTumuloController">
        <div class="row">
            <div class="col s12 card ">
                <div class="titulo-card">
                    <h4>Consulta de Túmulos</h4>
                </div>
                <div class="corpo-card ">
                    <div class="row">
                        <div class="input-field col s2 offset-s3 ">
                             <i class="fa fa-search fa-lg prefix"></i>
                            <input type="text" id="pesquisar" placeholder="Número" ng-model="pNumero"/>
                            <label for="pesquisar">Pesquisar:</label>
                        </div>
                        <div class="input-field col s3">
                            <select ng-model="pCemiterio" ng-options="c.id as c.nome for c in cemiterios">
                                <option value="">Todos</option>
                            </select>
                            <label >Cemitério</label>
                        </div>
                        <div class="input-field col s1">
                            <select ng-model="pQuadra" >
                                <option value="">Todas</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                            </select>
                            <label >Quadra</label>
                        </div>
                     </div>
                     {{pCemiterio}}
                        <hr>
                     <div class="row">
                        <div class="col s12">
                            <table class="striped">
                                <thead>
                                    <tr>
                                        <th >
                                            <a class="waves-effect" ng-click="ordenar('numero')">Nº <i class="fa fa-sort"></i></a>
                                        </th>
                                        <th >
                                            <a  class="waves-effect" ng-click="ordenar('quadra')" href="#">Quadra <i class="fa fa-sort"></i></a>
                                        </th>
                                        <th>
                                            <a class="waves-effect" ng-click="ordenar('cemiterio.nome')">Cemitério <i class="fa fa-sort"></i></a>
                                        </th>
                                        <th>
                                            <a class="waves-effect" ng-click="ordenar('responsavel')">Responsáveis <i class="fa fa-sort"></i></a>
                                        </th>
                                        <th>
                                            <a class="waves-effect" ng-click="ordenar('falecido')">Falecidos <i class="fa fa-sort"></i></a>
                                        </th>
                                        <th>
                                            <a class="waves-effect" ng-click="ordenar('situacao')">Status <i class="fa fa-sort"></i></a>
                                        </th>
                                        <th >Ações</th>
                                    </tr>
                                </thead>

                                <tbody>
                                <tr  ng-repeat="t in tumulos | filter:{numero:pNumero, quadra: pQuadra, cemiterio: pCemiterio} | orderBy:ordenacao:direcao">
                                    <td>{{t.numero}}</td>
                                    <td>{{t.quadra}}</td>
                                    <td>{{t.cemiterio}}</td>
                                    <td>{{t.responsavel}}</td>
                                    <td>{{t.falecido}}</td>
                                    <td class="green-text">{{t.situacao}}</td>
                                    <td>
                                        <a class="fa-stack modal-trigger" href="#modal1">
                                            <span class="card">ver detalhes</span>
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                                        </a> 
                                        <a class="fa-stack" href="#modal1">
                                            <span class="card">editar</span>
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </a>
                                        <a class="fa-stack" href="#modal1">
                                            <span class="card">pagamentos</span>
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                        <!-- Modal Structure -->
                        <div id="modal1" class="modal modal-fixed-footer">
                            <div class="modal-content">
                            <h4>Modal Header</h4>
                            <p>A bunch of text</p>
                            </div>
                            <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
                            </div>
                        </div>
                    <br>
                </div>
            </div>
        </div>
        
        <div ng-include="'menu.html'"></div>
    </main>
    
</body>
</html>